[submodule ".config/zsh/plugins/zsh-snap"]
	path = .config/zsh/plugins/zsh-snap
	url = https://github.com/marlonrichert/zsh-snap.git

[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/browningluke-forks/yadm.git

[submodule ".local/share/yadm-encrypt"]
	path = .local/share/yadm-encrypt
	url = git@github.com:browningluke/yadm-secret.git

[submodule ".config/iterm2/themes/darcula"]
	path = .config/iterm2/themes/darcula
	url = https://github.com/dracula/iterm.git
