[submodule ".config/zsh/plugins/zsh-snap"]
	path = .config/zsh/plugins/zsh-snap
	url = https://github.com/marlonrichert/zsh-snap.git

[submodule "/Users/lukebrowning/.yadm-project"]
	path = /Users/lukebrowning/.yadm-project
	url = https://github.com/browningluke/yadm.git
